.landing {
  /* display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(12, 8.333vw);
  grid-template-rows: repeat(8, 12.5vh); */
  width: 100%;
  height: 100%;
  grid-row: 1 / -1;
}

.landing::after {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  content: "";
  opacity: 0.6; */
}

@media screen and (min-width: 1080px) {
  .landing__section::after {
    position: relative;
    bottom: 0em;
    left: -8.333vw;
  }
}

@media screen and (min-width: 1080px) {
  .landing__section {
    font-size: 12em;
  }
}

.landing__card {
  position: relative;
  z-index: 2;
  display: grid;
  height: 100%;
  box-shadow: 0px 45px 65px -25px #6d5940;
  font-family: "Alegreya", serif;
  opacity: 1;
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(0);
  transform-style: preserve-3d;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: 2 / 12;
  grid-row: 1 / -1;
}
@media screen and (min-width: 1080px) {
  .landing__card {
    grid-column: 3 / 11;
    grid-row: 2 / 8;
  }
}

/*animations*/
.site-wrap--out .landing__card {
  opacity: 0;
  transform: translateY(-50%);
}

.site-wrap--in .landing__card {
  opacity: 0;
  transform: translateY(50%);
}

.landing__card__image-wrap {
  position: relative;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}
@media screen and (min-width: 1080px) {
  .landing__card__image-wrap {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
  }
}
.landing__card__image {
  width: auto;
  height: 100vh;
}
.landing__card__text {
  display: flex;
  flex-direction: column;
  border: 1em solid #c7beb9;
  background: #ffffff;
  grid-column: 1 / -1;
  grid-row: 3 / 5;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  .landing__card__text {
    grid-column: 3 / 5;
    grid-row: 1 / -1;
  }
}
.landing__card__title {
  margin-bottom: 0;
  color: #1d1d1d;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 3em;
}
.landing__card__subtitle {
  position: relative;
  margin-top: 0;
  color: #333333;
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5em;
}
.landing__card__subtitle::before {
  position: absolute;
  top: 50%;
  left: -80%;
  width: 55%;
  height: 2px;
  background: #1d1d1d;
  content: "";
}
.landing__card__subtitle::after {
  position: absolute;
  top: 50%;
  right: -80%;
  width: 55%;
  height: 2px;
  background: #1d1d1d;
  content: "";
}
.landing__card__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
