/*preload images*/
body::before {
  background-image: url("https://unsplash.it/500x500?image=94");
}
body::after {
  background-image: url("https://unsplash.it/500x500?image=76");
}

.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(5%);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-content: center;
  align-content: center;
  
}

.projects::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  /* backdrop-filter: saturate(80%) blur(2px); */
  -webkit-backdrop-filter: saturate(80%) blur(5px);
  backdrop-filter: saturate(80%) blur(5px);
}

@media screen and (max-width: 700px) {
  .projects::after {
    width: 100%;
    height: 48vh;
  }
}

.projects--loaded {
  opacity: 1;
  transform: translateY(0);
}

.project {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
  max-height: 500px;
  width: calc(100% - 80px);
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 700px) {
  .project {
    flex-direction: column;
    height: 60vh;
  }
}

.project__image-wrap {
  position: relative;
  background: #ffffff;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .project__image-wrap {
    overflow: hidden;
    height: 50vh;
  }
  .project__image {
    object-fit: cover;
  }
}

.project__image-wrap::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #efefef;
  content: "";
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: translateY(120%);
}

.project--out .project__image-wrap::after {
  transform: translateY(0);
}

.project--in .project__image .project__image-wrap::after {
  transform: translateY(-120%);
}

.project__image {
  float: left;
  width: 100%;
  line-height: 0;
}

.project__details {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.project__details::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #111111;
  content: "";
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: translateY(-120%);
}

.project--out .project__details::after {
  transform: translateY(0%);
}

.project--in .project__details::after {
  transform: translateY(-120%);
}

.project__title {
  margin-top: 0;
}
