.projects {
  display: grid;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  transition: all 0.6s ease-out;
  grid-template-columns: repeat(12, 8.333vw);
  grid-template-rows: repeat(8, 12.5vh);
  justify-content: center;
  align-content: center;
}

.projects::before {
  /* position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  content: "";
  -webkit-backdrop-filter: saturate(80%) blur(5px);
  backdrop-filter: saturate(80%) blur(5px); */
}

/* @media screen and (max-width: 700px) {
  .projects::after {
    width: 100%;
    height: 48vh;
  }
} */

.project {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 45px 65px -25px #6d5940;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(0);
  grid-column: 2 / 12;
  grid-row: 2 / 8;
}

.site-wrap--out .project {
  opacity: 0;
  transform: translateY(-50%);
}

.site-wrap--in .project {
  opacity: 0;
  transform: translateY(50%);
}

@media screen and (min-width: 1080px) {
  .project {
    grid-column: 3 / 11;
    grid-row: 2 / 8;
  }
}

@media screen and (max-width: 700px) {
  .project {
    flex-direction: column;
    height: 60vh;
  }
}

.project__image-wrap {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .project__image-wrap {
    overflow: hidden;
    height: 50vh;
  }
  .project__image {
    object-fit: cover;
  }
}

.project__image-wrap::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #efefef;
  content: "";
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: translateY(120%);
}

.project--out .project__image-wrap::after {
  transform: translateY(0);
}

.project--in .project__image .project__image-wrap::after {
  transform: translateY(-120%);
}

.project__image {
  float: left;
  min-width: 100%;
  width: auto;
  line-height: 0;
}

.project__details {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.project__details::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: #111111;
  content: "";
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
  transform: translateY(-120%);
}

.project--out .project__details::after {
  transform: translateY(0%);
}

.project--in .project__details::after {
  transform: translateY(-120%);
}

.project__title {
  margin-top: 0;
}
