.site-wrap {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  grid-template-columns: repeat(12, 8.333vw);
  grid-template-rows: repeat(8, 12.5vh);
}

.site-wrap__viewport {
  position: relative;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 45px 65px -25px #6d5940;
  opacity: 1;
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(0);
  grid-column: 2 / 12;
  grid-row: 2 / 8;
}

.site-wrap__viewport > * {
  opacity: 0;
  transition: all 0.6s linear;
}

.site-wrap__viewport--loaded > * {
  opacity: 1;
}

@media screen and (min-width: 1080px) {
  .site-wrap__viewport {
    grid-column: 3 / 11;
  }
}
