/* Site behaves like an SPA, so the viewport is always the window */

.site-wrap {
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  grid-template-columns: repeat(12, 8.333vw);
  grid-template-rows: repeat(8, 12.5vh);
}